/* Write your CSS here */
.app-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/planets-app/planets-bg-img.png');
  background-size: cover;
  height: 100vh;
}

.planets-bg-container {
  list-style-type: none;
}
